<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="FileLocation" value="..\..\TestData\Orders\"/>
    <add key="ProductTypes" value="..\..\ProductionData\ProductTypes.txt"/>
    <add key="TaxRates" value="..\..\ProductionData\TaxRates.txt"/>
    <add key="ErrorLog" value="..\..\ProductionData\ErrorLog.txt"/>
    <add key="Test" value="..\..\TestData\Orders\"/>
  </appSettings>
</configuration>